* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.banner {

    text-align: right;
    background-image: url('../images/banner/banner1.png');
    height: 600px;
    background-position: absolute;
    padding-top: 200px;
    padding-right: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-bottom: 24px;
}

.banner-description {
    padding-bottom: 32px;
}

.btn-primary {
    background: #FD6E0A;
    color: #FFFFFF;
    border: 0;
    width: 160px;
    height: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 5px;
}

.failure {
    display: flex;

    justify-content: center;
    gap: 10px;
}


.person {
    margin-top: 67px;
}

.failure-right-part {
    margin-top: 306px;
}

.sub-title-failure {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
    font-style: normal;
    line-height: 26px;
}

.list-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* my plan section */
.my-plan {
    margin-top: 130px;

}

.title-my-plan {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
}

.plan-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.plan {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;

}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* gradient */

.gradient {
    background: url("../images/gradient2.png");
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
}



.gradient-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 24px;
    padding-left: 64px;
    padding-top: 59px;
}

.btn-gradient {
    width: 160px;
    height: 64px;
    margin-left: 64px;
    margin-bottom: 59px;
    border-radius: 5px;
    border: none;
}

.button-text {

    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

}

/* footer */
.last-part {
    background: #151414;
    width: 1600px;
    height: 577px;
    display: flex;
}

.full-statement {
    padding: 130px 230px
}

.heading {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.paragraph {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 4px;
}

.mail {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 16px;

}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 16px;
    color: #FFFFFF;
}

.full-statement a {
    text-decoration: none;

}

.form-part {
    padding: 130px 230px;
}

.subscribe-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 31px;
}

.form-part input {
    border: 0;
    width: 300px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: #151414;
    text-align: center;

}

.form-part input ::placeholder {
    color: #F3F3F3;
}

.btn-form {
    width: 160px;
    height: 64px;
    margin-top: 16px;
    border-radius: 10px;

}

.btn-form-text {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}